:root{
	--color-1:#27191c;
	--color-2:#2d3839;
	--color-3:#114d4d;
	--color-4:#6e9987;
	--color-5:#e0e4ce;
}
* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
	font-family: system-ui;
}

body {
  background-color: Canvas;
  color: CanvasText;
  color-scheme: dark;
}

